{% if changePassSuccess %}
<h2> Password has been changed.</h2>
{% else %}
<div id="container">
<form name="hongkiat" id="fancyForm" method="post" action="{%url 'changePass' username=user%}">{%csrf_token %}
	<div id="wrapping" class="clearfix">
		<div id="aligned">
			{{form.newPass.errors}}
			<label for="id_newPass"></label>
			{{form.newPass}}

			{{form.verifyNewPass.errors}}
			<label for="id_verifyNewPass"></label>
			{{form.verifyNewPass}}
		</div>
	<br> 
	<div id="buttons">
		<input type="reset" name="reset" id="resetbtn" class="resetbtn" value="Reset">
		<input type="submit" name="submit" id="sendbutton" class="sendbutton" tabindex="7" value="Update" >
		<br style="clear:both;">
</div>
</form>
</div> 
{%endif%}

